.boardContainer {
  flex: 2;
  padding: 2%;
}

.playerBoard {
  background-color: rgb(148, 188, 189);
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  width: 60vw;
  height: 30vh;
}

.boardsCon {
  overflow-y: auto;
  height: 100%;
}
button{
  margin:5px;
}
