.boardContainer {
  width: 70vw;
  height: 100vh;
  overflow: hidden;
  padding: 2vw;
}

.playerBoard {
  background-color: rgb(148, 188, 189);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  width: 60vw;
  height: 34vh;
}
