.inputBox {
  width: 80%;
  height: 5vh;
  margin: auto;
  display: block;
  margin-bottom: 2vh;
  padding: 5px;
  border-radius: 5px;
}

.logInContainer {
  background-color: rgb(199, 170, 231);
  text-align: center;
  flex: 1;
  padding-top: 15vh;
}

.logInBtn {
  border: 1px solid rgb(174, 171, 171);
  border-radius: 5px;
  background-color: #213547a3;
  color: white;
  width: 33%;
  height: 5vh;
  margin: 2vh;
}
